
html {
    font-family: "Crimson text", serif;
    font-size: 1.25rem;
}


.App{
  min-height: 100vh;
  margin-bottom: 0;
}
.main{text-align: center;
    min-height: calc(100vh - 150px);
}

@media screen and (max-width: 600px) {
    html {
        font-size: 1rem;
    }
}
